.acf-customer-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 32rem;
  margin: 2rem auto;
  padding: 2rem;
  border: 0.1rem solid #e5e7eb;
  border-radius: 1.2rem;
  background: #fff;
  text-align: center;
}

.customer-score__value,
.customer-score__total {
  font-weight: 600;
}

.customer-score__value {
  font-size: 2.6rem;
  color: #29335C;
}

.customer-photo {
  position: relative;
  align-self: stretch;
  width: 80%;
  margin-bottom: 1.5rem;
  border: 0.4rem solid #f3f4f6;
  background: #e5e5e5;
  aspect-ratio: 1.25;
}

.customer-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customer-name {
  margin-bottom: 0.5rem;
  color: #111827;
}

.customer-review {
  color: #6b7280;
}

@media screen and (min-width: 767px) {
  .customer-photo {
    width: 50%;
    aspect-ratio: 1;
  }
}